@page
@model FailedModel

@{
    ViewData["Title"] = "Login Failed";
}
<div>
    <p>Login failed, please try again.</p>
    <a class="nav-link text-dark" asp-area="" asp-page="/Login/Login">> Login Page <</a>
</div>