@page
@model IndexModel
@{
    ViewData["Title"] = "Food2U Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Food2U</h1>
    <h2 class="display-4">Your first choice in food delivery!</h2>
    <a class="nav-link text-dark" asp-area="" asp-page="/Login/Login">> Login Page <</a>
</div>
